<footer class="block bg-th-light"></footer>
    <div class="container">
        <div class="row mb-3">
            <div class="col-12 text-center d-flex flex-column gap-3">
                <p class="fs-normal"> ©2024 Gopal Rana</p>
                <ul class="nav nav-pill col-fit mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#about"><i class="bi bi-circle-fill me-1"></i>About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about"><i class="bi bi-circle-fill me-1"></i>Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/privacy-policy"><i class="bi bi-circle-fill me-1"></i>Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/terms"><i class="bi bi-circle-fill me-1"></i>Terms</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row text-center">
            <p class="fs-sm">Powered by gopalrana</p> 
        </div>
    </div>
</footer>