<header id="header">
    <nav id="web-navbar" class="navbar navbar-expand-md navbar-light bg-th-darkest">
        <div class="container-fluid d-flex flex-column">
            <div class="w-100 d-flex justify-content-start align-items-center d-block d-md-none mb-3">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="bi bi-list fc-md fc-bold fc-lightest"></span>
                </button>
                <div class="list-group list-group-horizontal col-fit ms-auto ">
                    <button onclick="toggleDarkMode()" class="theme-toggler rounded-circle list-group-item bg-transparent fc-md fc-bold fc-lightest">
                        <i class="bi bi-moon"></i>
                    </button>
                    <!-- <button class="rounded-circle list-group-item bg-transparent fc-md fc-bold fc-lightest">
                        <i class="bi bi-chevron-down"></i>
                    </button> -->
                </div>
            </div>
            <div class="w-100 mb-3 d-flex justify-content-center justify-content-md-start align-items-center">
                <a class="d-inline-block fs-xl fw-bold navbar-brand" href="/">
                    <strong class="fc-primary me-2"> 
                    <!-- <span> &gt;/&lt;</span>  -->
                        <i class="bi bi-brilliance fs-xl"></i>
                    </strong>
                    <span class="fc-lightest">Gopal Rana</span>                    
                </a>
                <div class="list-group list-group-horizontal icon-group col-fit ms-auto d-none d-md-flex ">
                    <button data-e="click:toggleDarkMode" class="theme-toggler rounded-circle list-group-item bg-transparent fc-md fc-bold fc-lightest">
                        <i class="bi bi-moon"></i>
                    </button>
                    <!-- <button class="rounded-circle list-group-item bg-transparent fc-md fc-bold fc-lightest">
                        <i class="bi bi-chevron-down"></i>
                    </button> -->
                </div>
            
            </div>
            <!-- social links -->
            <div class="list-group list-group-horizontal icon-group col-fit mb-3 gap-1">
                <a href="" class="rounded-circle list-group-item bg-transparent fc-md fc-bold fc-lightest list-group-item-action">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://github.com/gopalubt" target="_blank" class="rounded-circle list-group-item bg-transparent fc-md fc-bold fc-lightest list-group-item-action">
                    <i class="bi bi-github"></i>
                </a>
                <a href="" class="rounded-circle list-group-item bg-transparent fc-md fc-bold fc-lightest list-group-item-action">
                    <i class="bi bi-gitlab"></i>
                </a>
                <a href="https://www.linkedin.com/in/gopal-rana-820a4862" class="rounded-circle list-group-item bg-transparent fc-md fc-bold fc-lightest list-group-item-action">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://api.whatsapp.com/send?phone=918889705044" class="rounded-circle list-group-item bg-transparent fc-md fc-bold fc-lightest list-group-item-action">
                    <i class="bi bi-whatsapp"></i>
                </a>
                <a href="" class="rounded-circle list-group-item bg-transparent fc-md fc-bold fc-lightest list-group-item-action">
                    <i class="bi bi-twitter-x"></i>
                </a>
                <a href="" class="rounded-circle list-group-item bg-transparent fc-md fc-bold fc-lightest list-group-item-action">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
            <!-- nav  -->
            <ul id="scrollspy-menu" class="nav nav-pills navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact</a>
                </li>
               
              </ul>
        </div>
    </nav>
</header>