<main data-bs-spy="scroll" data-bs-target="#scrollspy-menu" data-bs-offset="10" class="scrollspy-example" tabindex="0">
    <section id="about" class="block bg-th-light">
        <div class="container">
            <div class="row justify-content-center fc-normal">
                <div class="col-12 col-lg-7 col-md-10 d-flex flex-column gap-2 text-center">
                    <div class="profile-image-wrapper ratio ratio-1x1 rounded-circle p-2">
                        <img src="https://gopalubt.github.io/profile/assets/images/image_2.png" alt="ranagopal" class="rounded-circle img-fluid">
                    </div>
                    <h1 class="fs-lg fw-bold mb-0">Gopal Rana</h1>
                    <p class="fs-sm text-secondary fw-semibold mb-0">Freelance Developer & Designer</p>
                    <p class="fs-normal" data-gp-html="resume.summary">
                        Hi! I'm a designer and developer living in South West England. 
                        I love solving problems with technology and making websites that look good, and work well.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="skills" class="block">
        <div class="container">
            <div class="row">
                <h3 class="fs-lg text-center fw-bold">
                    Technical Skill
                  </h3>
                  <ul class="list-unstyled d-flex flex-wrap gap-3 justify-content-center mt-4">
                    <li class="skill-items text-center bg-light p-3 rounded shadow-sm d-flex flex-column align-items-center" data-gp-for="skill of resume.skills">
                      <img data-gp-src="skill.thumb" data-gp-alt="skill.label" class="img-fluid skills-icon" >
                      <p class="text-secondary" data-gp-html="skill.label"></p>
                    </li>
                  </ul>
            </div>
            <div class="row mt-3">
                <h3 class="fs-lg text-center fw-bold">
                    Languages
                  </h3>
                  <ul class="list-unstyled d-flex flex-wrap gap-3 justify-content-center mt-4">
                    <li class="text-center bg-light p-3 rounded shadow-lg d-flex flex-column align-items-center" data-gp-for="lang of resume.languages">
                      <p class="text-secondary" data-gp-html="lang"></p>
                    </li>
                  </ul>
            </div>
        </div>
    </section>
    <section id="contact" class="block bg-th-darkest">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-7 col-md-10 d-flex flex-column gap-2 text-center">
                    <p class="fs-normal fc-lightest">
                        Contact
                        If you'd like to collaborate on a project, I'd love to hear from you. Email me or get in touch on socials.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>